body{
    background-color: whitesmoke;
} 

a{
    padding: 5px;
}

  .request
  {
      background-color: antiquewhite;
      text-align: center;
/*      //border: 1px solid black;*/
      height: 50vh;
      margin: auto;
      margin-bottom: 50px;
  } 
  .updates
  {
      background-color: aquamarine;
      text-align: center;
      border: 1px solid red;
      height: 50vh;          
  }
  .footer
  {
      background-color: bisque;
      text-align: center;
      padding: 20px;
      margin: auto;
  }
  